{% render 'partials/head.liquid' %}

<head>
    <h1>Community Drops</h1>
    <p>Deel wat je van de oefening vond, lees ervaringen van anderen en steun elkaar in de reis door rouw. <b>je bent niet alleen</b></p>
</head>

<main>    

    <article>
        <h2>Nieuwste berichten</h2>
    </article>
    
    <section class=>
        <form class="form" method="post" action="/chat">
        
            <label for="from">Naam
            <input type="text" id="from" name="from" aria-label="Naam" placeholder="b.v John Doe" required>
            </label>

            <label for="text">Uw Bericht
                <textarea id="text" name="text" aria-label="Bericht schrijven" required></textarea>
                </label>

            <button type="submit">Ervaring Delen</button>
        </form>
    </section>


    {% for chat in chat %}
        <section>
            <h3>{{ chat.from }}</h3>
            <p>{{ chat.text }}</p>
        </section>
    {% endfor %}

</main>
{% render 'partials/foot.liquid' %}